<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .flex {
        display: flex;
        width: 100%;
    }
    .form {
        width: 30%;
    }
    .text {
        flex: 1;
        padding: 15px;
        height: 100%;
        border-left: 1px solid gray;
    }
</style>
<body>
<header th:insert="~{sections/header :: header}">

</header>
<h1>Task 4</h1>
<div class="flex">
    <div class="form">
        <form action="/file-content-info" method="post">
            <label>
                File Path
                <p>
                    <input type="text" name="file_path" required/>
                </p>
            </label>
            <button>
                Get info
            </button>
        </form>
    </div>
    <div class="text"
         th:if="${content != null}">
        <div>
            <span>Letters</span>
            <span> - </span>
            <span th:text="${letters}"></span>
        </div>
        <div>
            <span>Digits</span>
            <span> - </span>
            <span th:text="${digits}"></span>
        </div>
        <div>
            <span>Devide symbols</span>
            <span> - </span>
            <span th:text="${deviders}"></span>
        </div>

        <p th:text="${content}"></p>
    </div>
</div>
</body>
</html>