<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .flex {
        display: flex;
        width: 100%;
    }
    .form {
        width: 30%;
    }
    .text {
        flex: 1;
        padding: 15px;
        height: 100%;
        border-left: 1px solid gray;
    }
</style>
<body>
<header th:insert="~{sections/header :: header}">

</header>
<h1>Task 1</h1>
<div class="flex">
    <div class="form">
        <form action="/get-file-content" method="post">
            <label>
                File Path
                <p>
                    <input type="text" name="file_path"/>
                </p>
            </label>
            <button>
                Get Content
            </button>
        </form>
    </div>
    <div class="text"
         th:if="${content != null}">
        <p th:text="${content}">

        </p>
    </div>
</div>
</body>
</html>